@model TeamBananaPhase4.Models.Discussion

@{
    ViewBag.Title = "Add a comment to " + ViewBag.DiscItem_Title;
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.DiscItem_Meeting_Comm_CommOwn_ID)
    @Html.HiddenFor(model => model.DiscItem_Meeting_Comm_ID)
    @Html.HiddenFor(model => model.DiscItem_Meeting_DateTime)
    @Html.HiddenFor(model => model.DiscItem_Title)
    @Html.HiddenFor(model => model.SysUser_Email)
    @Html.HiddenFor(model => model.ActionDateTime)
    @Html.HiddenFor(model => model.HasRead)
    @Html.HiddenFor(model => model.HasVoted)

    
    <div class="row-fluid">
        <div class="span4">
        
            <div class="editor-label">
                @Html.LabelFor(model => model.Comment, "Enter a comment")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div> 
        <p>
            <input type="submit" value="Add Comment" />
        </p>

        </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@*      <div class="editor-label">
            @Html.LabelFor(model => model.DiscItem_Meeting_Comm_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiscItem_Meeting_Comm_ID)
            @Html.ValidationMessageFor(model => model.DiscItem_Meeting_Comm_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiscItem_Meeting_Comm_CommOwn_ID, "DiscItem")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DiscItem_Meeting_Comm_CommOwn_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.DiscItem_Meeting_Comm_CommOwn_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiscItem_Meeting_DateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiscItem_Meeting_DateTime)
            @Html.ValidationMessageFor(model => model.DiscItem_Meeting_DateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiscItem_Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiscItem_Title)
            @Html.ValidationMessageFor(model => model.DiscItem_Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SysUser_Email, "SysUser")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SysUser_Email", String.Empty)
            @Html.ValidationMessageFor(model => model.SysUser_Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActionDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActionDateTime)
            @Html.ValidationMessageFor(model => model.ActionDateTime)
        </div> *@
